
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style type="text/css">
    .mensagem {
        color: red;
    }
</style>>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="row">
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12   text-center">
                                <label class="mensagem">@ViewBag.mensagen</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2 text-center text-right">
                                <label class=" text-center text-right">Login:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" maxlength="70" name="Login_User" class="form-control col-xs-10" required />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <label class="  text-center text-right">Senha:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="password" maxlength="70" name="Login_senha" class="form-control col-md-12" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-6">
                                @Html.ActionLink("Esqueci a senha/login", "RecuperacaoDeDados", "Login", null, new { @class = "" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-5">
                                <button class="btn btn-info btt-Logar btn-block btn-md">Logar</button>
                            </div>
                            <div class="col-md-6 hidden">

                                @Html.ActionLink("Registrar", "Registrar", "Login", null, new { @class = "btn btn-info Btt_Registrar btn-block btn-md " })
                            </div>

                        </div>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
